@use "../../App.scss" as *;
@use "../../styles/partials/_colors.scss" as *;
@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_function.scss" as *;

.project {
  margin-left: toRem(32);
  height: 100vh;
  &-title {
    margin-top: toRem(32);
    font-size: toRem(36);
    font-weight: $semibold;
    padding-bottom: toRem(32);
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-buttons {
    margin-top: toRem(40);
  }
}

.back {
  color: red;
}
